<script>
  let message = "";
  let url = "ws://localhost:8080";
  let ws;
  let messages = [];
  let connected = false;
  $: if (url && !connected) connect();
  function send() {
    ws.send(message);
    message = "";
  }
  function connect() {
    ws = new WebSocket(url);
    ws.addEventListener("open", () => {
      console.log("Connected to server");
      connected = true;
      ws.addEventListener("message", e => {
        messages = [e.data, ...messages];
      });
      ws.addEventListener("close", () => {
        connected = false;
      });
    });
  }
</script>

<style>
  /* styles here */
</style>

<main>
  <div class="center">
    <img src="favicon.png" alt="favicon" />
    <h1>Svelte App</h1>
    <p>
      WebSocket server URL:
      <input bind:value={url} type="text" placeholder="ws://server:port" />
    </p>
    <p>
      This is a websocket client app. Open multiple browser windows pointing at
      this app and type up some messages. You should see them in all the
      browsers at the same time. Please make sure the websocket server is
      running.
    </p>
    <input
      bind:value={message}
      type="text"
      placeholder="enter message to send" />
    <button disabled={!connected} on:click={send}>SEND</button>
    <button disabled={connected} on:click={connect}>CONNECT</button>
  </div>
  <ul>
    {#each messages as m}
      <li>{m}</li>
    {:else}
      <li>No messages received yet.</li>
    {/each}
  </ul>
</main>
